<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
</head>
<body>
	<h1>Our Soundtrack</h1>
	<nav>
		<a href="/">Home</a>
		<a href="/host/auth">Make a new Playlist</a>
	</nav>
	<p>
		<%= content %>
	</p>
</body>
</html>